/* Bruno */
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

/*beba neue*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*Just Another Hand*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+10+Charted&family=Just+Another+Hand&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&family=Tilt+Neon&display=swap')

/*Bungee Spice*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&display=swap');

/*Lato*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*Pixelify Sans*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pixelify+Sans:wght@400..700&display=swap');

/*Rubik Scribble*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');

/*Dancing*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.TextoBruno{
    /*alineación */
    text-align: center;
    /* tipo de fuente*/
    font-family: 'Bruno Ace SC', cursive;
    /*grosor de la letra */
    font-weight: 200;
    /* interlineado */
    line-height: 1.3;
    /*color del texto*/
    color:#FF0099;
    /*tamaño del texto*/
    font-size: 40px;
}

.Textobebas{
font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #CCFF99;
  font-size: 30px;
  text-align: justify
  line-height: 1;
}
.TextoBungee{
font-family: "Bungee Spice", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: 660066;
  font-size: 40px;
  text-align: justify;
  line-height: 1.2;
}
.TextoLato{
font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: 003333;
  font-size: 20px;
  text-align: justify;
  line-height: 1.1;
}

.TextoJustAnotherHand{
font-family: "Pixelify Sans", sans-serif;
   font-weight:300;
   font-style: normal;
   color: #00FFFF;
   font-size: 40px;
   text-align: justify;
   line-height: 1.5;
}
.htmlfondo1{
    background-image: url(archivosimg/DUKI.jpeg);
}
.bodyfondo{
    background-image: url(archivosimg/DUKI.jpeg);
    padding: 10px 10px;
    box-shadow: -5px -6px 50px 15px #FF3399;
    /*sombra 
    primer dato(-5) indica la sombra -izquierda,+derecha.
    Segundo dato(-6px) indica la sombra -arriba,+abajo.
    Tercer dato(50px)indica la tonalidad de la sombra 
    cuarto dato(15px) indica el grosor de la sombra.
    Quinto dato(#FF3399) indica el color de la sombra */
    max-width: 1000px /* el ancho maximo del body */
    max-height: 3000px /* el largo maximo del body */
    margin:0 auto: */ centra el body en el html */

}

                   /*Formato de imagenes*/
•img-filtros{
/* centrar imagen y fijar*/
margin: 0 auto;
display: block;
}

•img-filtros;hover {
filter; blur(10 px); /*desenfoque de la imagen*/
}